.box-size{
    /* border: 1px solid gray; */
    height: 600px !important;
    /* background-color: black; */
}
.img-size{
    width: 200px;
    height: 200px;
    float: right;
    border-radius: 50%;
    margin: 25px 50px 25px 25px;
    border: 2px solid blue
}
.img-size-v2{
    width: 60px;
    height: 60px;
}
.icon-color{
    color: #0d6efd;
}